html {
  font-family: 'Courier New', Courier, monospace;
}

main {
  margin: 1vw;
}

.main-section-container {
  padding: 0.5vw;
  margin-left: 0.5vw;
  background-color: #0000000A;
}

.sub-section-container {
  padding: 0.5vw;
  margin-left: 0.5vw;
  background-color: #0000000A;
}

.sub-sub-section-container {
  padding: 0.5vw;
  margin-left: 0.5vw;
  background-color: #0000000A;
}

.sub-section-title {
  color: #333;
  font-weight: bold;
  width: 100%;
}

.type-string {
  color: dodgerblue;
  font-weight: bold;
}

.description {
  font-style: italic;
}
